# Sample .env file for development and testing purposes

# Set DEBUG to true for development, false for production
DEBUG=false

# Django secret key for cryptographic signing
# NOTE: The path below uses Unix-style separators ('/'). On Windows, adjust the path accordingly (e.g., '..\.secrets\secret_key.txt').
SECRET_KEY_FILE=../.secrets/secret_key.txt
# SECRET_KEY='<YOUR_SECRET_KEY>'
